
<div class="card">
    <div class="text-center mb-5">
        <div class="text-900 text-3xl font-medium mb-3">Faça sua Doação</div>
        <span class="text-600 font-medium">Sua contribuição ajuda a salvar vidas! Cada centavo faz a diferença.</span>
    </div>

    <div>
        <form [formGroup]="donationForm" (ngSubmit)="submitDonation()">
            <div class="p-fluid">
                <div class="field">
                    <label for="donationValue" class="block text-900 text-xl font-medium mb-2">Valor da Doação (R$)</label>
                    <p-inputNumber
                            id="donationValue"
                            formControlName="donationValue"
                            mode="decimal"
                            [minFractionDigits]="2"
                            [maxFractionDigits]="2"
                            placeholder="Digite o valor">
                    </p-inputNumber>
                </div>

                <button
                        pButton
                        pRipple
                        label="Prosseguir para o Pagamento"
                        icon="pi pi-credit-card"
                        class="w-full mt-3"
                        [loading]="isLoading"
                        [disabled]="donationForm.invalid || isLoading">
                </button>
            </div>
        </form>
    </div>
</div>
